{% extends "layout.njk" %}
{% block content %}
<main class="container">
  <hero>
    <h1>Welcome to the Whisker-tingling World of Catventures</h1>
    <img src="/img/cover.jpg" alt="Cover image">
  </hero>
  <p>This webbpage will take you on an amazing adventure!</p>
  <p>Meow and greetings, intrepid cat enthusiast! In the whimsical town of Furrington, where the air is filled with
    magical purrs and enchanted yarn balls, your feline journey is about to commence. Step into the paws of Sir
    Fluffington, the magical cat with an insatiable love for oatmeal, as you navigate a world of hilarity, action, and,
    of course, the pursuit of the perfect oatmeal.</p>

  <form action="/username" method="post">
    <label for="username">Enter your name</label>
    <input type="text" id="username" name="username">
    <input type="submit" value="Submit">
  </form>

  <p><a href=" /story/0">Please click here to begin.</a></p>
</main>
{% endblock %}